
body {
     
    background-size: 100%;
    background-image: url("https://cdn.dribbble.com/users/1101837/screenshots/4086431/bloomberg-space-dribbble-gif-02.gif");
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: 100%;
    background-image: url("https://i.pinimg.com/originals/d3/38/95/d338958ff2bc814159af16dffa99bf00.gif");
    color: #ffffff;
    text-align: center;

    height: 70%;
    width: 40%;
 border-style: double;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 0px;


    margin-top: 100px;
    margin-bottom: 100px;
    margin-right:400px;
    margin-left: 400px;


    padding: 10px 15px 10px 10px;
}
 
#C2 {
     font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(183, 230, 247);
    background-color: rgb(25, 31, 75);
   opacity: 50%;

   height: 70%;
   width: 40%;
    border-style: groove;
    border-width: thick;
    border-color: white;
    border-radius: 2px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right:400px;
    margin-left: 400px;

    padding: 20px 15px 20px 15px;

}
  
#C3 {
     font-size: 30px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: rgb(12, 0, 247);
    opacity: 80%;

    height: 70%;
    width: 40%;
   border-style: dotted;
    border-width: 30%;
    border-color: rgb(255, 255, 255);
    border-radius:2px;


    margin-top: 100px;
    margin-bottom: 100px;
    margin-right:400px;
    margin-left: 400px;
    padding: 20px 15px 20px 15px;
} 